*{
          margin: 0;
          padding: 0;
}
.header .tab{
          margin-left: 50px;
}
.header .tab .conetnt{
          color: #fff;
          text-decoration: none;
          font-size: 27px;
          cursor: pointer;
          transition: transform 300ms, opacity 300ms;
}
.header .tab .conetnt:hover{
          color:#ff6348 ;
          transform: translateY(-5px);
}